.converter-container {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    position: relative;
    margin: 10em auto;
    color: #fff;
    box-shadow: 15px 15px 20px #00000030;
    background-color: #292929;
    z-index: 1;
}

@media screen and (max-width: 745px) {
    .converter-container {
        width: 93%;
    }
}

.converter-container .navigation-mac {
    position: absolute;
    display: flex;
}

.converter-container .navigation-mac .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 8px;
    z-index: 5;
}

.converter-container .navigation-mac .red {
    background-color: #f9614d;
}

.converter-container .navigation-mac .red:hover {
    background-color: #ff7676;
}

.converter-container .navigation-mac .yellow {
    background-color: #faba09;
}

.converter-container .navigation-mac .green {
    background-color: #11c938;
}

.converter-container form {
    position: relative;
    padding: 30px 30px;
}

.converter-container form .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-gap: 20px 30px;
    margin-bottom: 17px;
    width: 100%;
}

.converter-container form label {
    font-size: 1.3rem;
}

.converter-container form select {
    padding: 13px 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 100%;
}

.converter-container form .from label {
    display: flex;
    width: 100%;
}

.converter-container form .to label {
    display: flex;
    width: 100%;
}

.converter-container form .fromto {
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 330px) {
    .converter-container form .fromto {
        grid-template-columns: 1fr;
    }
}

.converter-container form .fromto select {
    border: 1px solid white;
}

.converter-container form .fromto select:hover {
    border: 1px solid #008cff;
}

.converter-container form .result {
    font-size: 2.2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    word-break: break-all;
    letter-spacing: 1.7px;
}

@media screen and (max-width: 450px) {
    .converter-container form .result {
        font-size: 2rem;
    }
}

.converter-container form .swap {
    border: 1px solid #008cff;
    background: none;
    padding: 10px 40px;
    margin: 10px 0;
    border-radius: 7px;
    transition: ease-in-out 0.15s;
    cursor: pointer;
    color: #fff;
}

.converter-container form .swap:hover {
    border: 1px solid #009cfb;
    background-color: #009cfb;
}

.converter-container form .convert {
    background: #008cff;
    border: none;
    padding: 10px 40px;
    margin: 10px 0;
    margin-right: 10px;
    border-radius: 7px;
    transition: ease-in-out 0.15s;
    color: #fff;
    cursor: pointer;
}

.converter-container form .convert:hover {
    background: #009cfb;
}

.converter-container form .length {
    font-size: 1rem;
}

.converter-container .row .column .inputForm {
    position: relative;
    outline: none;
    background: none;
    border: 1px solid #008cff;
    border-radius: 6px;
    width: 100%;
    height: 43px;
    float: left;
}

.converter-container form input {
    position: relative;
    float: left;
    height: 43px;
    background: none;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #fff;
    width: calc(100% - 3.2em);
    font-size: 1.25rem;
}

.fa-copy {
    position: relative;
    float: right;
    width: 41px;
    height: 41px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.15s;
    padding: 0 8px;
    cursor: pointer;
}

.fa-copy:hover {
    color: #008cff;
}

.copy-success {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    transition: visibility, opacity, ease-out 0.2s;
}

.show {
    visibility: visible;
    opacity: 1;
    animation: cubic-bezier(0.165, 0.84, 0.44, 1) showBubble 0.3s;
    background-color: #008cff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

@keyframes showBubble {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 20px;
    }
}

.copy-success h1 {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    position: absolute;
    width: 83px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    z-index: 1;
    bottom: 7px;
    left: calc(100% + 15px);
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    font-size: 0.55rem;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.writing-help {
    font-size: 2rem;
}

.header-help {
    font-weight: 400;
}

.eightBits {
    font-weight: 400;
    font-size: 2rem;
    word-break: break-all;
}
